colorama==0.4.6
    # via -r main/requirements-cuda12.txt
numpy==2.4.2
    # via
    #   -r main/requirements-cuda12.txt
    #   scipy
scipy==1.17.0
    # via -r main/requirements-cuda12.txt
urllib3==2.6.3
    # via -r main/requirements-cuda12.txt
